<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baodanyun.websocket.dao.AppCustomerFailMapper">
    <resultMap id="BaseResultMap" type="com.baodanyun.websocket.model.AppCustomerFail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="row_num" property="rowNum" jdbcType="BIGINT"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="addr" property="addr" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
        <result column="phone_bak" property="phoneBak" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="exp1" property="exp1" jdbcType="VARCHAR"/>
        <result column="exp2" property="exp2" jdbcType="VARCHAR"/>
        <result column="exp3" property="exp3" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, row_num, customer_name, phone, email, addr, label, source, serial_no, phone_bak,
        remark, create_time, update_time, exp1, exp2, exp3
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.baodanyun.websocket.model.AppCustomerFailExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from app_customer_fail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from app_customer_fail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from app_customer_fail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.baodanyun.websocket.model.AppCustomerFailExample">
        delete from app_customer_fail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baodanyun.websocket.model.AppCustomerFail">
        insert into app_customer_fail (id, row_num, customer_name,
        phone, email, addr,
        label, source, serial_no,
        phone_bak, remark, create_time,
        update_time, exp1, exp2,
        exp3)
        values (#{id,jdbcType=BIGINT}, #{rowNum,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR},
        #{label,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{serialNo,jdbcType=VARCHAR},
        #{phoneBak,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{exp1,jdbcType=VARCHAR}, #{exp2,jdbcType=VARCHAR},
        #{exp3,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.baodanyun.websocket.model.AppCustomerFail">
        insert into app_customer_fail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="rowNum != null">
                row_num,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="addr != null">
                addr,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="serialNo != null">
                serial_no,
            </if>
            <if test="phoneBak != null">
                phone_bak,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="exp1 != null">
                exp1,
            </if>
            <if test="exp2 != null">
                exp2,
            </if>
            <if test="exp3 != null">
                exp3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="rowNum != null">
                #{rowNum,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                #{addr,jdbcType=VARCHAR},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="serialNo != null">
                #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="phoneBak != null">
                #{phoneBak,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="exp1 != null">
                #{exp1,jdbcType=VARCHAR},
            </if>
            <if test="exp2 != null">
                #{exp2,jdbcType=VARCHAR},
            </if>
            <if test="exp3 != null">
                #{exp3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baodanyun.websocket.model.AppCustomerFailExample"
            resultType="java.lang.Integer">
        select count(*) from app_customer_fail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update app_customer_fail
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.rowNum != null">
                row_num = #{record.rowNum,jdbcType=BIGINT},
            </if>
            <if test="record.customerName != null">
                customer_name = #{record.customerName,jdbcType=VARCHAR},
            </if>
            <if test="record.phone != null">
                phone = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.addr != null">
                addr = #{record.addr,jdbcType=VARCHAR},
            </if>
            <if test="record.label != null">
                label = #{record.label,jdbcType=VARCHAR},
            </if>
            <if test="record.source != null">
                source = #{record.source,jdbcType=VARCHAR},
            </if>
            <if test="record.serialNo != null">
                serial_no = #{record.serialNo,jdbcType=VARCHAR},
            </if>
            <if test="record.phoneBak != null">
                phone_bak = #{record.phoneBak,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.exp1 != null">
                exp1 = #{record.exp1,jdbcType=VARCHAR},
            </if>
            <if test="record.exp2 != null">
                exp2 = #{record.exp2,jdbcType=VARCHAR},
            </if>
            <if test="record.exp3 != null">
                exp3 = #{record.exp3,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update app_customer_fail
        set id = #{record.id,jdbcType=BIGINT},
        row_num = #{record.rowNum,jdbcType=BIGINT},
        customer_name = #{record.customerName,jdbcType=VARCHAR},
        phone = #{record.phone,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        addr = #{record.addr,jdbcType=VARCHAR},
        label = #{record.label,jdbcType=VARCHAR},
        source = #{record.source,jdbcType=VARCHAR},
        serial_no = #{record.serialNo,jdbcType=VARCHAR},
        phone_bak = #{record.phoneBak,jdbcType=VARCHAR},
        remark = #{record.remark,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        exp1 = #{record.exp1,jdbcType=VARCHAR},
        exp2 = #{record.exp2,jdbcType=VARCHAR},
        exp3 = #{record.exp3,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baodanyun.websocket.model.AppCustomerFail">
        update app_customer_fail
        <set>
            <if test="rowNum != null">
                row_num = #{rowNum,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                addr = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="label != null">
                label = #{label,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="serialNo != null">
                serial_no = #{serialNo,jdbcType=VARCHAR},
            </if>
            <if test="phoneBak != null">
                phone_bak = #{phoneBak,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="exp1 != null">
                exp1 = #{exp1,jdbcType=VARCHAR},
            </if>
            <if test="exp2 != null">
                exp2 = #{exp2,jdbcType=VARCHAR},
            </if>
            <if test="exp3 != null">
                exp3 = #{exp3,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baodanyun.websocket.model.AppCustomerFail">
        update app_customer_fail
        set row_num = #{rowNum,jdbcType=BIGINT},
        customer_name = #{customerName,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        addr = #{addr,jdbcType=VARCHAR},
        label = #{label,jdbcType=VARCHAR},
        source = #{source,jdbcType=VARCHAR},
        serial_no = #{serialNo,jdbcType=VARCHAR},
        phone_bak = #{phoneBak,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        exp1 = #{exp1,jdbcType=VARCHAR},
        exp2 = #{exp2,jdbcType=VARCHAR},
        exp3 = #{exp3,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>